In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
import math

In [3]:
data = pd.read_csv('Housing Data For Ames,Iowa.csv')
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
encoder1 = LabelEncoder()
encoder2 = LabelEncoder()

In [5]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [6]:
print(list(data.isna().sum()))

[0, 0, 0, 259, 0, 0, 1369, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 8, 0, 0, 0, 37, 37, 38, 37, 0, 38, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 690, 81, 81, 81, 0, 0, 81, 81, 0, 0, 0, 0, 0, 0, 0, 1453, 1179, 1406, 0, 0, 0, 0, 0, 0]

In [7]:
miss = pd.DataFrame(data.isna().sum())

In [8]:
miss.rename(columns = {0 : 'number'}, inplace = True)
miss

               number
Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
...               ...
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0

[81 rows x 1 columns]

In [9]:
miss = miss[miss['number']!=0]
miss

              number
LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406

In [10]:
df = pd.DataFrame(data['LotFrontage'].value_counts())
print(df.to_string())

       LotFrontage
60.0           143
70.0            70
80.0            69
50.0            57
75.0            53
65.0            44
85.0            40
78.0            25
21.0            23
90.0            23
68.0            19
64.0            19
24.0            19
73.0            18
55.0            17
63.0            17
79.0            17
72.0            17
100.0           16
66.0            15
74.0            15
51.0            15
52.0            14
59.0            13
82.0            12
71.0            12
67.0            12
43.0            12
40.0            12
57.0            12
76.0            11
69.0            11
92.0            10
34.0            10
53.0            10
86.0            10
88.0            10
84.0             9
35.0             9
62.0             9
44.0             9
77.0             9
93.0             8
98.0             8
96.0             8
61.0             8
95.0             7
58.0             7
120.0            7
107.0            7
94.0             6
81.0             6
36.0             6
30.0             6
48.0             6
91.0             6
41.0             6
54.0             6
89.0             6
110.0            6
105.0            6
32.0             5
47.0             5
87.0             5
56.0             5
37.0             5
83.0             5
102.0            4
42.0             4
49.0             4
104.0            3
103.0            3
99.0             3
45.0             3
108.0            3
130.0            3
124.0            2
114.0            2
109.0            2
313.0            2
134.0            2
115.0            2
121.0            2
116.0            2
118.0            2
129.0            2
101.0            2
174.0            2
97.0             2
122.0            2
112.0            1
168.0            1
182.0            1
111.0            1
138.0            1
160.0            1
149.0            1
153.0            1
152.0            1
33.0             1
128.0            1
144.0            1
39.0             1
150.0            1
106.0            1
137.0            1
141.0            1
38.0             1
140.0            1
46.0             1

In [11]:
data['LotFrontage'] = data['LotFrontage'].fillna(data['LotFrontage'].median())
data.isna().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 81, dtype: int64

In [12]:
df = pd.DataFrame(data['Alley'].value_counts()) 
print(df.to_string())

      Alley
Grvl     50
Pave     41

In [13]:
data['Alley'] = data['Alley'].fillna("-1")

In [14]:
df = pd.DataFrame(data['MasVnrType'].value_counts())
print(df.to_string())

         MasVnrType
None            864
BrkFace         445
Stone           128
BrkCmn           15

In [15]:
data['MasVnrType'] = data['MasVnrType'].fillna('None')

In [16]:
df = pd.DataFrame(data['MasVnrArea'].value_counts())
print(df.to_string())

        MasVnrArea
0.0            861
180.0            8
72.0             8
108.0            8
120.0            7
16.0             7
200.0            6
340.0            6
106.0            6
80.0             6
132.0            5
320.0            5
360.0            5
84.0             5
170.0            5
220.0            4
336.0            4
183.0            4
252.0            4
196.0            4
300.0            4
268.0            4
40.0             4
168.0            4
100.0            4
270.0            4
210.0            4
76.0             4
288.0            4
216.0            4
160.0            4
178.0            4
246.0            4
456.0            4
74.0             3
70.0             3
50.0             3
44.0             3
272.0            3
226.0            3
104.0            3
116.0            3
90.0             3
145.0            3
148.0            3
42.0             3
110.0            3
128.0            3
85.0             3
136.0            3
420.0            3
186.0            3
256.0            3
166.0            3
350.0            3
130.0            3
99.0             3
176.0            3
174.0            3
208.0            3
312.0            3
169.0            3
240.0            3
82.0             3
289.0            2
232.0            2
95.0             2
18.0             2
338.0            2
298.0            2
236.0            2
206.0            2
30.0             2
125.0            2
113.0            2
144.0            2
305.0            2
423.0            2
362.0            2
147.0            2
328.0            2
304.0            2
164.0            2
424.0            2
513.0            2
243.0            2
233.0            2
192.0            2
351.0            2
660.0            2
335.0            2
158.0            2
140.0            2
245.0            2
250.0            2
182.0            2
189.0            2
45.0             2
54.0             2
117.0            2
60.0             2
157.0            2
92.0             2
94.0             2
285.0            2
1.0              2
75.0             2
105.0            2
215.0            2
425.0            2
149.0            2
442.0            2
172.0            2
344.0            2
472.0            2
66.0             2
284.0            2
203.0            2
153.0            2
260.0            2
68.0             2
205.0            2
98.0             2
318.0            2
480.0            2
112.0            2
184.0            2
135.0            2
302.0            2
266.0            2
171.0            2
650.0            2
212.0            2
306.0            2
162.0            2
143.0            2
101.0            2
238.0            2
281.0            2
368.0            1
137.0            1
194.0            1
673.0            1
115.0            1
579.0            1
65.0             1
705.0            1
223.0            1
387.0            1
438.0            1
894.0            1
38.0             1
426.0            1
816.0            1
11.0             1
237.0            1
310.0            1
375.0            1
294.0            1
448.0            1
564.0            1
366.0            1
860.0            1
123.0            1
244.0            1
96.0             1
1047.0           1
408.0            1
603.0            1
731.0            1
337.0            1
274.0            1
63.0             1
81.0             1
32.0             1
151.0            1
975.0            1
450.0            1
230.0            1
571.0            1
24.0             1
766.0            1
53.0             1
554.0            1
234.0            1
51.0             1
14.0             1
324.0            1
295.0            1
396.0            1
67.0             1
154.0            1
202.0            1
163.0            1
218.0            1
410.0            1
796.0            1
428.0            1
122.0            1
165.0            1
1378.0           1
88.0             1
228.0            1
760.0            1
391.0            1
27.0             1
361.0            1
632.0            1
86.0             1
342.0            1
788.0            1
621.0            1
451.0            1
541.0            1
359.0            1
567.0            1
114.0            1
415.0            1
333.0            1
651.0            1
481.0            1
64.0             1
922.0            1
142.0            1
290.0            1
127.0            1
506.0            1
297.0            1
604.0            1
254.0            1
36.0             1
102.0            1
399.0            1
41.0             1
46.0             1
348.0            1
315.0            1
299.0            1
31.0             1
34.0             1
1600.0           1
365.0            1
56.0             1
150.0            1
278.0            1
262.0            1
138.0            1
275.0            1
748.0            1
286.0            1
380.0            1
640.0            1
412.0            1
1031.0           1
573.0            1
287.0            1
167.0            1
1115.0           1
576.0            1
443.0            1
468.0            1
22.0             1
48.0             1
28.0             1
600.0            1
768.0            1
1129.0           1
309.0            1
436.0            1
664.0            1
653.0            1
491.0            1
225.0            1
370.0            1
388.0            1
188.0            1
584.0            1
292.0            1
207.0            1
97.0             1
459.0            1
280.0            1
204.0            1
156.0            1
452.0            1
261.0            1
259.0            1
209.0            1
263.0            1
381.0            1
528.0            1
258.0            1
464.0            1
57.0             1
1170.0           1
293.0            1
630.0            1
466.0            1
109.0            1
479.0            1
219.0            1
175.0            1
594.0            1
296.0            1
146.0            1
616.0            1
870.0            1
530.0            1
500.0            1
510.0            1
247.0            1
255.0            1
432.0            1
126.0            1
473.0            1
376.0            1
161.0            1
224.0            1
248.0            1
772.0            1
435.0            1
378.0            1
562.0            1
89.0             1
921.0            1
762.0            1
119.0            1

In [17]:
data['MasVnrArea'] = data['MasVnrArea'].fillna(0)

In [18]:
df = pd.DataFrame(data['BsmtQual'].value_counts())
print(df.to_string())

    BsmtQual
TA       649
Gd       618
Ex       121
Fa        35

In [19]:
data['BsmtQual'] = data['BsmtQual'].fillna('TA')

In [20]:
miss = pd.DataFrame(data.isna().sum())
miss.rename(columns = {0 : 'number'},inplace = True)
miss = miss[miss['number']!=0]
miss

              number
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406

In [21]:
df = pd.DataFrame(data['BsmtCond'].value_counts())
print(df.to_string())

    BsmtCond
TA      1311
Gd        65
Fa        45
Po         2

In [22]:
data['BsmtCond'] = data['BsmtCond'].fillna('TA')

In [23]:
df = pd.DataFrame(data['BsmtExposure'].value_counts())
print(df.to_string())

    BsmtExposure
No           953
Av           221
Gd           134
Mn           114

In [24]:
data['BsmtExposure'] =data['BsmtExposure'].fillna('No')

In [25]:
df = pd.DataFrame(data['BsmtFinType1'].value_counts())
print(df.to_string())

     BsmtFinType1
Unf           430
GLQ           418
ALQ           220
BLQ           148
Rec           133
LwQ            74

In [26]:
data['BsmtFinType1'] = data['BsmtFinType1'].fillna('Unf')

In [27]:
df = pd.DataFrame(data['BsmtFinType2'].value_counts())
print(df.to_string())

     BsmtFinType2
Unf          1256
Rec            54
LwQ            46
BLQ            33
ALQ            19
GLQ            14

In [28]:
data['BsmtFinType2'] = data['BsmtFinType2'].fillna('Unf')

In [29]:
df = pd.DataFrame(data['Electrical'].value_counts())
print(df.to_string())

       Electrical
SBrkr        1334
FuseA          94
FuseF          27
FuseP           3
Mix             1

In [30]:
data['Electrical'] = data['Electrical'].fillna('SBrkr')

In [31]:
df = pd.DataFrame(data['FireplaceQu'].value_counts())
print(df.to_string())

    FireplaceQu
Gd          380
TA          313
Fa           33
Ex           24
Po           20

In [32]:
data['FireplaceQu'] = data['FireplaceQu'].fillna('NA')

In [33]:
df = pd.DataFrame(data['GarageType'].value_counts())
print(df.to_string())

         GarageType
Attchd          870
Detchd          387
BuiltIn          88
Basment          19
CarPort           9
2Types            6

In [34]:
data['GarageType'] = data['GarageType'].fillna('NA')

In [35]:
df = pd.DataFrame(data['GarageYrBlt'].value_counts())
print(df.to_string())

        GarageYrBlt
2005.0           65
2006.0           59
2004.0           53
2003.0           50
2007.0           49
1977.0           35
1998.0           31
1999.0           30
1976.0           29
2008.0           29
2000.0           27
1968.0           26
2002.0           26
1950.0           24
1993.0           22
1958.0           21
1966.0           21
2009.0           21
1962.0           21
1965.0           21
1970.0           20
1996.0           20
1957.0           20
2001.0           20
1978.0           19
1954.0           19
1960.0           19
1997.0           19
1974.0           18
1964.0           18
1994.0           18
1995.0           18
1959.0           17
1956.0           16
1963.0           16
1990.0           16
1980.0           15
1979.0           15
1969.0           15
1967.0           15
1973.0           14
1988.0           14
1920.0           14
1972.0           14
1940.0           14
1992.0           13
1961.0           13
1971.0           13
1955.0           13
1953.0           12
1948.0           11
1987.0           11
1925.0           10
1985.0           10
1981.0           10
1989.0           10
1941.0           10
1975.0            9
1991.0            9
1939.0            9
1930.0            8
1984.0            8
1949.0            8
1983.0            7
1926.0            6
1986.0            6
1951.0            6
1936.0            5
1916.0            5
1922.0            5
1935.0            4
1946.0            4
1928.0            4
1931.0            4
1982.0            4
1945.0            4
1910.0            3
2010.0            3
1932.0            3
1952.0            3
1938.0            3
1921.0            3
1924.0            3
1923.0            3
1947.0            2
1937.0            2
1942.0            2
1915.0            2
1918.0            2
1934.0            2
1914.0            2
1929.0            2
1927.0            1
1900.0            1
1906.0            1
1908.0            1
1933.0            1

In [36]:
data['GarageYrBlt'] = data['GarageYrBlt'].fillna(-1)

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          1460 non-null   object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1460 non-null   object
 26  MasVnrArea     1460 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1460 non-null   object
 31  BsmtCond       1460 non-null   object
 32  BsmtExposure   1460 non-null   object
 33  BsmtFinType1   1460 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1460 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1460 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    1460 non-null   object
 58  GarageType     1460 non-null   object
 59  GarageYrBlt    1460 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [38]:
df = pd.DataFrame(data['GarageFinish'].value_counts())
print(df.to_string())

     GarageFinish
Unf           605
RFn           422
Fin           352

In [39]:
data['GarageFinish'] = data['GarageFinish'].fillna('NA')

In [40]:
df = pd.DataFrame(data['GarageQual'].value_counts())
print(df.to_string())

    GarageQual
TA        1311
Fa          48
Gd          14
Ex           3
Po           3

In [41]:
data['GarageQual'] = data['GarageQual'].fillna('NA')

In [42]:
df = pd.DataFrame(data['GarageCond'].value_counts())
print(df.to_string())

    GarageCond
TA        1326
Fa          35
Gd           9
Po           7
Ex           2

In [43]:
data['GarageCond'] = data['GarageCond'].fillna('NA')

In [44]:
data['PoolQC'] = data['PoolQC'].fillna('NA')

In [45]:
df = pd.DataFrame(data['Fence'].value_counts())
print(df.to_string())

       Fence
MnPrv    157
GdPrv     59
GdWo      54
MnWw      11

In [46]:
data['Fence'] = data['Fence'].fillna('NA')

In [47]:
df = pd.DataFrame(data['MiscFeature'].value_counts())
print(df.to_string())

      MiscFeature
Shed           49
Gar2            2
Othr            2
TenC            1

In [48]:
data['MiscFeature'] = data['MiscFeature'].fillna('NA')

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          1460 non-null   object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1460 non-null   object
 26  MasVnrArea     1460 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1460 non-null   object
 31  BsmtCond       1460 non-null   object
 32  BsmtExposure   1460 non-null   object
 33  BsmtFinType1   1460 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1460 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1460 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    1460 non-null   object
 58  GarageType     1460 non-null   object
 59  GarageYrBlt    1460 non-null   float64
 60  GarageFinish   1460 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1460 non-null   object
 64  GarageCond     1460 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         1460 non-null   object
 73  Fence          1460 non-null   object
 74  MiscFeature    1460 non-null   object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [50]:
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,-1,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,-1,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,-1,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,-1,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,-1,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,-1,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,-1,Reg,Lvl,AllPub,...,0,NA,MnPrv,NA,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,-1,Reg,Lvl,AllPub,...,0,NA,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,-1,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,-1,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,6,2008,WD,Normal,147500

In [51]:
data = data.drop('Id',axis=1)
data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,-1,Reg,Lvl,AllPub,FR2,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,-1,IR1,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,-1,IR1,Lvl,AllPub,Corner,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,-1,IR1,Lvl,AllPub,FR2,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,MnPrv,NA,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,6,2008,WD,Normal,147500

In [52]:
data['SalePrice'] = encoder2.fit_transform(data['SalePrice'])
data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,2,2008,WD,Normal,412
1,20,RL,80.0,9600,Pave,-1,Reg,Lvl,AllPub,FR2,...,0,NA,NA,NA,0,5,2007,WD,Normal,339
2,60,RL,68.0,11250,Pave,-1,IR1,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,9,2008,WD,Normal,442
3,70,RL,60.0,9550,Pave,-1,IR1,Lvl,AllPub,Corner,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,194
4,60,RL,84.0,14260,Pave,-1,IR1,Lvl,AllPub,FR2,...,0,NA,NA,NA,0,12,2008,WD,Normal,494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,8,2007,WD,Normal,314
1456,20,RL,85.0,13175,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,MnPrv,NA,0,2,2010,WD,Normal,415
1457,70,RL,66.0,9042,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,GdPrv,Shed,2500,5,2010,WD,Normal,527
1458,20,RL,68.0,9717,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,4,2010,WD,Normal,199
1459,20,RL,75.0,9937,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,NA,NA,NA,0,6,2008,WD,Normal,221

In [53]:
columns=list(data.columns)
columns

['MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice']

In [54]:
for column in columns:
    if column!='SalePrice':
        data[column] = encoder1.fit_transform(data[column])
data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,5,3,36,327,1,0,3,3,0,4,...,0,3,4,1,0,1,2,8,4,412
1,0,3,51,498,1,0,3,3,0,2,...,0,3,4,1,0,4,1,8,4,339
2,5,3,39,702,1,0,0,3,0,4,...,0,3,4,1,0,8,2,8,4,442
3,6,3,31,489,1,0,0,3,0,0,...,0,3,4,1,0,1,0,8,0,194
4,5,3,55,925,1,0,0,3,0,2,...,0,3,4,1,0,11,2,8,4,494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,5,3,33,267,1,0,3,3,0,4,...,0,3,4,1,0,7,1,8,4,314
1456,0,3,56,866,1,0,3,3,0,4,...,0,3,2,1,0,1,4,8,4,415
1457,6,3,37,415,1,0,3,3,0,4,...,0,3,0,3,17,4,4,8,4,527
1458,0,3,39,505,1,0,3,3,0,4,...,0,3,4,1,0,3,4,8,4,199
1459,0,3,46,532,1,0,3,3,0,4,...,0,3,4,1,0,5,2,8,4,221

In [55]:
y = data[['SalePrice']]
y

      SalePrice
0           412
1           339
2           442
3           194
4           494
...         ...
1455        314
1456        415
1457        527
1458        199
1459        221

[1460 rows x 1 columns]

In [56]:
x = data.drop('SalePrice',axis=1)
x

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,5,3,36,327,1,0,3,3,0,4,...,0,0,3,4,1,0,1,2,8,4
1,0,3,51,498,1,0,3,3,0,2,...,0,0,3,4,1,0,4,1,8,4
2,5,3,39,702,1,0,0,3,0,4,...,0,0,3,4,1,0,8,2,8,4
3,6,3,31,489,1,0,0,3,0,0,...,0,0,3,4,1,0,1,0,8,0
4,5,3,55,925,1,0,0,3,0,2,...,0,0,3,4,1,0,11,2,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,5,3,33,267,1,0,3,3,0,4,...,0,0,3,4,1,0,7,1,8,4
1456,0,3,56,866,1,0,3,3,0,4,...,0,0,3,2,1,0,1,4,8,4
1457,6,3,37,415,1,0,3,3,0,4,...,0,0,3,0,3,17,4,4,8,4
1458,0,3,39,505,1,0,3,3,0,4,...,0,0,3,4,1,0,3,4,8,4
1459,0,3,46,532,1,0,3,3,0,4,...,0,0,3,4,1,0,5,2,8,4

In [57]:
rf = RandomForestClassifier(max_depth = 7,random_state = 48)
rf.fit(x,y)

C:\Users\SHUBHA~1\AppData\Local\Temp/ipykernel_14216/952110791.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x,y)

RandomForestClassifier(max_depth=7, random_state=48)

In [58]:
pred = rf.predict(x) 
pred

array([368, 282, 457, ..., 527, 199, 221], dtype=int64)

In [59]:
list(pred)

[368,
 282,
 457,
 194,
 494,
 203,
 457,
 390,
 151,
 113,
 194,
 607,
 97,
 457,
 254,
 158,
 225,
 48,
 248,
 188,
 559,
 189,
 478,
 151,
 244,
 457,
 97,
 457,
 410,
 17,
 4,
 106,
 334,
 194,
 590,
 559,
 212,
 194,
 171,
 31,
 194,
 282,
 208,
 153,
 196,
 589,
 475,
 457,
 103,
 142,
 314,
 194,
 97,
 627,
 194,
 336,
 305,
 368,
 646,
 136,
 257,
 171,
 335,
 194,
 435,
 559,
 335,
 368,
 28,
 314,
 483,
 171,
 351,
 171,
 86,
 50,
 171,
 142,
 171,
 97,
 194,
 270,
 311,
 194,
 275,
 513,
 311,
 278,
 38,
 194,
 194,
 66,
 194,
 164,
 368,
 351,
 368,
 212,
 188,
 148,
 404,
 541,
 117,
 388,
 295,
 494,
 69,
 106,
 106,
 368,
 171,
 335,
 559,
 431,
 512,
 317,
 188,
 248,
 590,
 323,
 335,
 69,
 171,
 335,
 337,
 36,
 334,
 42,
 248,
 231,
 368,
 323,
 194,
 436,
 335,
 311,
 171,
 299,
 457,
 368,
 106,
 513,
 287,
 368,
 137,
 152,
 97,
 457,
 171,
 106,
 212,
 617,
 194,
 466,
 137,
 25,
 194,
 530,
 494,
 590,
 194,
 639,
 368,
 171,
 238,
 171,
 368,
 594,
 368,
 452,
 146,
 426,
 473,
 273,
 347,
 188,
 368,
 305,
 654,
 69,
 321,
 391,
 123,
 390,
 142,
 652,
 307,
 171,
 240,
 555,
 581,
 194,
 368,
 152,
 97,
 223,
 577,
 466,
 77,
 541,
 194,
 194,
 101,
 225,
 97,
 336,
 194,
 196,
 541,
 194,
 171,
 219,
 498,
 194,
 269,
 171,
 368,
 171,
 194,
 289,
 368,
 390,
 334,
 194,
 640,
 101,
 559,
 82,
 137,
 426,
 222,
 637,
 113,
 145,
 351,
 47,
 368,
 378,
 586,
 103,
 368,
 113,
 171,
 194,
 404,
 368,
 180,
 194,
 368,
 544,
 23,
 466,
 368,
 257,
 194,
 457,
 368,
 368,
 459,
 62,
 317,
 494,
 194,
 152,
 19,
 315,
 351,
 330,
 124,
 222,
 526,
 480,
 559,
 188,
 97,
 404,
 314,
 196,
 640,
 368,
 453,
 351,
 410,
 390,
 335,
 279,
 260,
 97,
 97,
 171,
 464,
 174,
 155,
 466,
 288,
 194,
 194,
 473,
 314,
 194,
 194,
 494,
 404,
 194,
 562,
 571,
 368,
 106,
 97,
 612,
 368,
 194,
 122,
 620,
 323,
 426,
 513,
 457,
 513,
 194,
 606,
 559,
 566,
 171,
 481,
 42,
 591,
 171,
 424,
 24,
 118,
 171,
 553,
 335,
 351,
 454,
 590,
 368,
 397,
 171,
 436,
 31,
 43,
 368,
 38,
 194,
 237,
 194,
 307,
 645,
 478,
 541,
 60,
 81,
 194,
 322,
 194,
 165,
 152,
 548,
 194,
 171,
 387,
 113,
 368,
 219,
 194,
 282,
 171,
 194,
 304,
 166,
 137,
 171,
 368,
 11,
 97,
 604,
 631,
 337,
 142,
 351,
 368,
 22,
 478,
 370,
 30,
 137,
 368,
 643,
 118,
 426,
 84,
 69,
 69,
 171,
 194,
 248,
 15,
 368,
 488,
 335,
 89,
 436,
 323,
 231,
 106,
 171,
 494,
 494,
 194,
 212,
 439,
 106,
 466,
 335,
 262,
 473,
 171,
 198,
 407,
 368,
 194,
 592,
 171,
 171,
 541,
 97,
 351,
 314,
 39,
 194,
 129,
 337,
 41,
 417,
 194,
 118,
 49,
 97,
 656,
 113,
 194,
 305,
 368,
 143,
 368,
 457,
 171,
 171,
 97,
 548,
 401,
 368,
 363,
 194,
 64,
 506,
 267,
 97,
 520,
 248,
 97,
 171,
 171,
 325,
 194,
 144,
 457,
 368,
 417,
 368,
 222,
 592,
 335,
 194,
 541,
 640,
 457,
 46,
 595,
 590,
 248,
 277,
 171,
 171,
 194,
 314,
 265,
 41,
 106,
 194,
 323,
 248,
 51,
 0,
 644,
 347,
 152,
 123,
 103,
 457,
 194,
 368,
 223,
 135,
 426,
 411,
 267,
 171,
 280,
 398,
 97,
 165,
 97,
 636,
 257,
 523,
 194,
 465,
 83,
 194,
 260,
 349,
 559,
 351,
 62,
 648,
 41,
 394,
 314,
 144,
 106,
 3,
 323,
 171,
 368,
 72,
 257,
 535,
 581,
 598,
 420,
 161,
 248,
 455,
 415,
 194,
 137,
 494,
 194,
 97,
 457,
 194,
 457,
 106,
 196,
 89,
 314,
 311,
 126,
 298,
 89,
 351,
 494,
 144,
 592,
 368,
 513,
 194,
 201,
 123,
 444,
 335,
 188,
 194,
 212,
 278,
 235,
 171,
 194,
 500,
 115,
 592,
 161,
 466,
 152,
 194,
 203,
 142,
 368,
 649,
 184,
 194,
 97,
 588,
 105,
 377,
 299,
 235,
 457,
 194,
 436,
 235,
 368,
 404,
 238,
 194,
 611,
 171,
 590,
 194,
 368,
 219,
 21,
 194,
 368,
 194,
 368,
 457,
 15,
 478,
 171,
 321,
 194,
 265,
 192,
 239,
 171,
 293,
 134,
 457,
 194,
 171,
 208,
 390,
 10,
 171,
 171,
 337,
 536,
 447,
 607,
 238,
 616,
 204,
 194,
 248,
 194,
 36,
 368,
 89,
 368,
 171,
 609,
 44,
 171,
 225,
 63,
 194,
 386,
 635,
 97,
 182,
 641,
 437,
 149,
 368,
 194,
 182,
 368,
 106,
 282,
 368,
 194,
 223,
 42,
 95,
 618,
 194,
 203,
 171,
 194,
 554,
 437,
 410,
 457,
 224,
 335,
 379,
 203,
 662,
 599,
 90,
 194,
 317,
 45,
 132,
 185,
 382,
 578,
 194,
 613,
 194,
 368,
 7,
 568,
 457,
 323,
 194,
 5,
 73,
 335,
 149,
 154,
 194,
 262,
 254,
 559,
 194,
 541,
 203,
 97,
 171,
 590,
 124,
 439,
 378,
 97,
 194,
 457,
 361,
 368,
 171,
 171,
 273,
 56,
 457,
 327,
 368,
 158,
 198,
 317,
 314,
 335,
 565,
 368,
 525,
 368,
 64,
 171,
 311,
 368,
 457,
 194,
 194,
 457,
 194,
 248,
 559,
 143,
 194,
 498,
 457,
 532,
 590,
 383,
 265,
 478,
 655,
 194,
 72,
 194,
 97,
 640,
 270,
 457,
 200,
 208,
 194,
 317,
 368,
 368,
 194,
 144,
 194,
 188,
 457,
 97,
 361,
 266,
 194,
 265,
 335,
 378,
 299,
 194,
 97,
 653,
 314,
 390,
 96,
 366,
 658,
 171,
 457,
 194,
 442,
 264,
 82,
 337,
 194,
 8,
 256,
 107,
 368,
 171,
 457,
 194,
 443,
 368,
 55,
 436,
 171,
 457,
 627,
 95,
 366,
 351,
 235,
 194,
 235,
 470,
 288,
 171,
 194,
 241,
 69,
 194,
 171,
 194,
 188,
 194,
 196,
 243,
 299,
 426,
 162,
 478,
 359,
 194,
 370,
 69,
 194,
 298,
 142,
 219,
 311,
 335,
 494,
 212,
 194,
 238,
 194,
 335,
 223,
 457,
 194,
 294,
 468,
 97,
 368,
 107,
 171,
 106,
 569,
 159,
 590,
 194,
 171,
 254,
 335,
 323,
 115,
 171,
 597,
 212,
 172,
 529,
 228,
 130,
 194,
 171,
 282,
 116,
 194,
 171,
 202,
 659,
 171,
 97,
 194,
 335,
 478,
 171,
 144,
 457,
 494,
 97,
 311,
 245,
 205,
 194,
 212,
 309,
 20,
 1,
 171,
 513,
 320,
 368,
 215,
 335,
 373,
 410,
 194,
 554,
 194,
 366,
 368,
 436,
 112,
 590,
 368,
 481,
 27,
 351,
 368,
 368,
 484,
 234,
 423,
 231,
 203,
 182,
 136,
 203,
 532,
 372,
 194,
 149,
 194,
 97,
 368,
 143,
 212,
 134,
 194,
 335,
 248,
 97,
 535,
 248,
 473,
 426,
 335,
 265,
 171,
 171,
 194,
 171,
 307,
 203,
 335,
 290,
 282,
 171,
 384,
 97,
 194,
 324,
 600,
 370,
 457,
 139,
 137,
 111,
 634,
 380,
 368,
 457,
 292,
 194,
 323,
 602,
 171,
 194,
 351,
 50,
 378,
 ...]

In [60]:
pred_y = pd.DataFrame({
    'SalePrice' : pred
})
pred_y

      SalePrice
0           368
1           282
2           457
3           194
4           494
...         ...
1455        337
1456        415
1457        527
1458        199
1459        221

[1460 rows x 1 columns]

In [61]:
pred_y = encoder2.inverse_transform(pred_y)
pred_y

c:\users\shubham indoliya\appdata\local\programs\python\python38\lib\site-packages\sklearn\preprocessing\_label.py:154: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([190000, 165000, 230000, ..., 266500, 142125, 147500], dtype=int64)

In [62]:
pred_y = pd.DataFrame({
    'SalePrice' : list(pred_y)
})
pred_y

      SalePrice
0        190000
1        165000
2        230000
3        140000
4        250000
...         ...
1455     181000
1456     210000
1457     266500
1458     142125
1459     147500

[1460 rows x 1 columns]

In [63]:
r2 = r2_score(data['SalePrice'],pred_y['SalePrice'])
r2

-1272129.9054780304

In [65]:
data = pd.read_csv('Housing Data For Ames,Iowa.csv')

In [66]:
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [67]:
r2 = r2_score(data['SalePrice'],pred_y['SalePrice'])
r2

0.9032869643853146

In [68]:
mse = mean_squared_error(data['SalePrice'],pred_y['SalePrice'])
mse = np.sqrt(mse)
mse

24697.138884275202

In [69]:
test=pd.read_csv('test.csv')
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [70]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [71]:
miss = pd.DataFrame(test.isna().sum())
miss.rename(columns = {0 : 'number'},inplace = True)
miss = miss[miss['number']!=0]
miss

              number
MSZoning           4
LotFrontage      227
Alley           1352
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
FireplaceQu      730
GarageType        76
GarageYrBlt       78
GarageFinish      78
GarageCars         1
GarageArea         1
GarageQual        78
GarageCond        78
PoolQC          1456
Fence           1169
MiscFeature     1408
SaleType           1

In [72]:
test['SaleType'] = test['SaleType'].fillna(test['SaleType'].mode())
test['MiscFeature'] = test['MiscFeature'].fillna('NA')
test['Fence'] = test['Fence'].fillna('NA')
test['PoolQC'] = test['PoolQC'].fillna('NA')
test['GarageCond'] = test['GarageCond'].fillna('NA')
test['GarageQual'] = test['GarageQual'].fillna('NA')
test['GarageArea'] = test['GarageArea'].fillna(test['GarageArea'].mode())
test['GarageCars'] = test['GarageCars'].fillna(test['GarageCars'].mode())
test['GarageFinish'] = test['GarageFinish'].fillna('NA')
test['GarageType'] = test['GarageType'].fillna('NA')
test['GarageYrBlt'] = test['GarageYrBlt'].fillna(-1)
test['FireplaceQu'] = test['FireplaceQu'].fillna('NA')

In [73]:
miss = pd.DataFrame(test.isna().sum())
miss.rename(columns = {0 : 'number'},inplace = True)
miss = miss[miss['number']!=0]
miss

              number
MSZoning           4
LotFrontage      227
Alley           1352
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
GarageCars         1
GarageArea         1
SaleType           1

In [74]:
pk = ['MSZoning','Utilities','Exterior1st','Exterior2nd','BsmtFinSF1','BsmtFinSF2','BsmtUnfSF','TotalBsmtSF','BsmtFullBath','BsmtHalfBath','KitchenQual','Functional','GarageCars','GarageArea','SaleType']
for p in pk:
       print(p)

MSZoning
Utilities
Exterior1st
Exterior2nd
BsmtFinSF1
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
BsmtFullBath
BsmtHalfBath
KitchenQual
Functional
GarageCars
GarageArea
SaleType

In [75]:
miss = pd.DataFrame(test.isna().sum())
miss.rename(columns = {0 : 'number'},inplace = True)
miss = miss[miss['number']!=0]
miss

              number
MSZoning           4
LotFrontage      227
Alley           1352
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
GarageCars         1
GarageArea         1
SaleType           1

In [76]:
test['SaleType'] = test['SaleType'].fillna('WD')

In [77]:
miss = pd.DataFrame(test.isna().sum())
miss.rename(columns = {0 : 'number'},inplace = True)
miss = miss[miss['number']!=0]
miss

              number
MSZoning           4
LotFrontage      227
Alley           1352
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
GarageCars         1
GarageArea         1

In [78]:
df = pd.DataFrame(test['GarageCars'].value_counts())
print(df.to_string())

     GarageCars
2.0         770
1.0         407
3.0         193
0.0          76
4.0          11
5.0           1

In [79]:
test['GarageArea'] = test['GarageArea'].fillna(0)

In [80]:
miss = pd.DataFrame(test.isna().sum())
miss.rename(columns = {0 : 'number'},inplace = True)
miss = miss[miss['number']!=0]
miss

              number
MSZoning           4
LotFrontage      227
Alley           1352
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
GarageCars         1

In [81]:
test['GarageArea'] = test['GarageArea'].fillna(2)

In [82]:
test['Functional'] = test['Functional'].fillna('Typ')

In [83]:
test['KitchenQual'] = test['KitchenQual'].fillna('TA')

In [84]:
test['BsmtHalfBath'] = test['BsmtHalfBath'].fillna(0)

In [85]:
test['BsmtFullBath'] = test['BsmtFullBath'].fillna(0)

In [86]:
test['TotalBsmtSF'] = test['TotalBsmtSF'].fillna(0)

In [87]:
test['BsmtUnfSF'] = test['BsmtUnfSF'].fillna(0)

In [88]:
test['BsmtFinSF2'] = test['BsmtFinSF2'].fillna(0)

In [89]:
test['BsmtFinSF1'] = test['BsmtFinSF1'].fillna(0)

In [90]:
test['Exterior2nd'] = test['Exterior2nd'].fillna('VinylSd')

In [91]:
test['Exterior1st'] = test['Exterior1st'].fillna('VinylSd')

In [92]:
test['Utilities'] = test['Utilities'].fillna('AllPub')

In [93]:
miss = pd.DataFrame(test.isna().sum())
miss.rename(columns = {0 : 'number'},inplace = True)
miss = miss[miss['number']!=0]
miss

              number
MSZoning           4
LotFrontage      227
Alley           1352
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinType2      42
GarageCars         1

In [94]:
test['MSZoning'] = test['MSZoning'].fillna('RL')

In [95]:
test['GarageCars'] = test['GarageCars'].fillna(2)

In [96]:
miss = pd.DataFrame(test.isna().sum())
miss.rename(columns = {0 : 'number'},inplace = True)
miss = miss[miss['number']!=0]
miss

              number
LotFrontage      227
Alley           1352
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinType2      42

In [97]:
test['LotFrontage'] = test['LotFrontage'].fillna(test['LotFrontage'].median())
miss = pd.DataFrame(test.isna().sum())
miss.rename(columns = {0 : 'number'},inplace = True)
miss = miss[miss['number']!=0]
miss

              number
Alley           1352
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinType2      42

In [98]:
test['Alley'] = test['Alley'].fillna("-1")

In [99]:
data['BsmtFinType1'] = data['BsmtFinType1'].fillna('Unf')
data['BsmtFinType2'] = data['BsmtFinType2'].fillna('Unf')

In [100]:
test['BsmtCond'] = test['BsmtCond'].fillna('TA')
test['BsmtQual'] = test['BsmtQual'].fillna('TA')

In [101]:
miss = pd.DataFrame(test.isna().sum())
miss.rename(columns = {0 : 'number'},inplace = True)
miss = miss[miss['number']!=0]
miss

              number
MasVnrType        16
MasVnrArea        15
BsmtExposure      44
BsmtFinType1      42
BsmtFinType2      42

In [102]:
test['BsmtFinType1'] = test['BsmtFinType1'].fillna('Unf')
test['BsmtFinType2'] = test['BsmtFinType2'].fillna('Unf')

In [103]:
test['MasVnrType'] = test['MasVnrType'].fillna('None')

In [104]:
test['MasVnrArea'] = test['MasVnrArea'].fillna(0)

In [105]:
test['BsmtExposure'] = test['BsmtExposure'].fillna('No')

In [106]:
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,-1,Reg,Lvl,AllPub,...,120,0,NA,MnPrv,NA,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,-1,IR1,Lvl,AllPub,...,0,0,NA,NA,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,-1,IR1,Lvl,AllPub,...,0,0,NA,MnPrv,NA,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,-1,IR1,Lvl,AllPub,...,0,0,NA,NA,NA,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,-1,IR1,HLS,AllPub,...,144,0,NA,NA,NA,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,-1,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,-1,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,-1,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,-1,Reg,Lvl,AllPub,...,0,0,NA,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,-1,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,11,2006,WD,Normal

In [107]:
idx = test['Id']
test = test.drop('Id',axis=1)
test

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,-1,Reg,Lvl,AllPub,Inside,...,120,0,NA,MnPrv,NA,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,-1,IR1,Lvl,AllPub,Corner,...,0,0,NA,NA,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,-1,IR1,Lvl,AllPub,Inside,...,0,0,NA,MnPrv,NA,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,-1,IR1,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,-1,IR1,HLS,AllPub,Inside,...,144,0,NA,NA,NA,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,RM,21.0,1936,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,6,2006,WD,Normal
1455,160,RM,21.0,1894,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,4,2006,WD,Abnorml
1456,20,RL,160.0,20000,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,9,2006,WD,Abnorml
1457,85,RL,62.0,10441,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,0,NA,MnPrv,Shed,700,7,2006,WD,Normal
1458,60,RL,74.0,9627,Pave,-1,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,11,2006,WD,Normal

In [108]:
for column in columns:
    if column!='SalePrice':
        test[column] = encoder1.fit_transform(test[column])
test

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0,2,56,777,1,0,3,3,0,4,...,18,0,2,2,1,0,5,4,8,4
1,0,3,57,964,1,0,0,3,0,0,...,0,0,2,4,0,24,5,4,8,4
2,5,3,50,947,1,0,0,3,0,4,...,0,0,2,2,1,0,2,4,8,4
3,5,3,54,587,1,0,0,3,0,4,...,0,0,2,4,1,0,5,4,8,4
4,11,3,19,118,1,0,0,1,0,4,...,27,0,2,4,1,0,0,4,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,13,4,0,19,1,0,3,3,0,4,...,0,0,2,4,1,0,5,0,8,4
1455,13,4,0,17,1,0,3,3,0,4,...,0,0,2,4,1,0,3,0,8,0
1456,0,3,112,1069,1,0,3,3,0,4,...,0,0,2,4,1,0,8,0,8,0
1457,9,3,38,647,1,0,3,3,0,4,...,0,0,2,2,3,12,6,0,8,4
1458,5,3,50,536,1,0,3,3,0,4,...,0,0,2,4,1,0,10,0,8,4

In [109]:
pred = rf.predict(test)
pred

array([ 18, 237, 368, ..., 265,  18, 513], dtype=int64)

In [110]:
pred_y = pd.DataFrame({
    'SalePrice' : list(pred)
})
pred_y

      SalePrice
0            18
1           237
2           368
3           337
4           366
...         ...
1454         44
1455         44
1456        265
1457         18
1458        513

[1459 rows x 1 columns]

In [111]:
pred_y = encoder2.inverse_transform(pred_y)
pred_y

c:\users\shubham indoliya\appdata\local\programs\python\python38\lib\site-packages\sklearn\preprocessing\_label.py:154: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([ 72500, 151500, 190000, ..., 160000,  72500, 260000], dtype=int64)

In [112]:
pred_y = pd.DataFrame({
    'Id' : idx,
    'SalePrice' : list(pred_y)
})
pred_y

        Id  SalePrice
0     1461      72500
1     1462     151500
2     1463     190000
3     1464     181000
4     1465     189000
...    ...        ...
1454  2915      88000
1455  2916      88000
1456  2917     160000
1457  2918      72500
1458  2919     260000

[1459 rows x 2 columns]

In [113]:
idx

0       1461
1       1462
2       1463
3       1464
4       1465
        ...
1454    2915
1455    2916
1456    2917
1457    2918
1458    2919
Name: Id, Length: 1459, dtype: int64

In [114]:
pred_y.to_csv('predict.csv',index=False)

In [115]:
data['SalePrice']

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64